<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://source.unsplash.com/1600x900/?restaurants/<%= @restaurant.category %>" alt="Card image cap">

  <div class="card-body">
   <h5 class="card-title"><%= @restaurant.name %></h5>
        <img src="https://source.unsplash.com/1600x900/?restaurants/" width="30" height="30" class="d-inline-block align-top" alt="">
        <%= @restaurant.name%>
      </a>
    </nav>
    </h2><strong><%= @restaurant.address %></strong>
    </h3><strong><%= @restaurant.category %></strong>
    <p><%= link_to "<- Go back", restaurants_path(@restaurant), class: "btn btn-primary"%></p>
    <p><%= link_to "+Add new review", new_restaurant_review_path(@restaurant), class: "btn btn-success"%></p>
  </div>

</div>
  <% @restaurant.reviews.each do |r| %>
  <div class="card">
    <div class="card-header">
      <%= r.restaurant.name %>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p><%= r.content %></p>
      </blockquote>
    </div>
  </div>
  <% end %>
